@model KinoSite.Models.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slogan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slogan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateRealise)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateRealise)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountryRealise)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountryRealise)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)+
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLenght)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeLenght)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @{
                var base64 = Convert.ToBase64String(Model.Image);
                var imgsrc = string.Format("data:image/jpg; base64,{0}", base64);
            }
            <img src="@imgsrc" width="200px" height="260px" title=@Model.Title />
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Video)
            </dt>
        <dd class="col-sm-10">
            @{
                    var link = "https://res.cloudinary.com/arsenr/video/upload/";
                    var model = Model.Video;
                    var movieLink = link + model;
                }
                <video src="@movieLink" controls name="Video">
                </video>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ListMovie" asp-controller="Movie">Back to List</a>
</div>
