@model KinoSite.Models.Movie
@{
    ViewData["Title"] = "PlayMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-main">
    <div class="container-info-movie">
        <div class="image-container poster">
            @{
                var base64 = Convert.ToBase64String(Model.Image);
                var imgsrc = string.Format("data:image/jpg; base64,{0}", base64);
            }
            <img src="@imgsrc" alt="" class="image-movie">
        </div>
        <table class="table-info">
            <tr>
                <td colspan="2" class="title-movie">@Model.Title</td>
            </tr>
            <tr>
                <td>Рейтинг</td>
                <td>
                    @Model.Rating
                </td>
            </tr>
            <tr>
                <td>Слоган</td>
                <td>@Model.Slogan</td>
            </tr>
            <tr>
                <td>Дата виходу:</td>
                <td>@Model.DateRealise.ToLongDateString()</td>
            </tr>
            <tr>
                <td>Країна:</td>
                <td><span class="country">@Model.CountryRealise</span></td>
            </tr>
            <tr>
                <td>Режисер:</td>
                <td>
                    @Model.Directions.FullName
                </td>
            </tr>

            <tr>
                <td>Жанр:</td>
                <td>
                    <p>
                        @foreach (var item in Model.GenreMovies)
                        {
                            @item.Genre.NameGenre
                        }
                    </p>
                </td>
            </tr>
            <tr>
                <td>Вік:</td>
                <td><span class="age">@Model.Age+</span></td>
            </tr>
            <tr>
                <td>Тривалість:</td>
                <td>@Model.TimeLenght хв.</td>
            </tr>
            <tr>
                <td>У головних ролях:</td>
                <td>
                   
                        @foreach (var item in Model.ActorMovies)
                        { 
                            <a asp-action="Details" asp-controller="Actor" asp-route-id="@item.ActorId">@item.Actor.FullName </a>
                        }
                   
                </td>
            </tr>
        </table>
    </div>
    <div class="description">
        <h2>Опис "@Model.Title"</h2>
        <div class="descriptions-text">
            @Model.Description
        </div>
    </div>
    <div class="movie-video">
       
    </div>
    <center>
        @{
            var link = "https://28.svetacdn.in/MrJszJIePquE/movie/";
            var model = Model.Video;
            var movieLink = link + model;
        }
        <iframe src="@movieLink" width="1020" height="532" frameborder="0" allowfullscreen></iframe>
    </center>
</div>